html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #6f7cb2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1130px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #111b47;
  border: 2px solid #111b47;
  transition: background-color 0.3s linear;
}
.btn:hover, .btn:focus {
  color: #091133;
  background-color: #ffffff;
  border-radius: 2px;
}

.header__box {
  position: relative;
}

.header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 10px;
}

.menu-list {
  display: inline-flex;
  gap: 60px;
}

.menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #505f98;
}

.logo {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.46;
  color: #37447e;
}

.header__btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  width: 160px;
  height: 26px;
  flex-shrink: 0;
}

.intro {
  position: relative;
  max-width: 1440px;
  min-height: 1160px;
  margin: 0 auto;
}

.intro__wrapper {
  position: relative;
}

.intro__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 1278px;
  height: 100vh;
}

.intro__body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 300px 10px 0 10px;
  max-width: 540px;
}

.intro__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.32;
  letter-spacing: 1px;
  color: #091133;
  padding-bottom: 20px;
}

.intro__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  color: #505f98;
  padding-bottom: 70px;
}

.intro__buttom {
  display: inline-flex;
  gap: 30px;
}

.intro__buttom-link {
  font-weight: 500;
  line-height: 1.62;
  width: 190px;
  height: 35px;
}

.advatage__body {
  max-width: 540px;
}

.advatage__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advatage__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  color: #091133;
  padding-bottom: 16px;
}

.advatage__text {
  font-weight: 400;
  line-height: 1.62;
  padding-bottom: 80px;
}

.advatage__items {
  display: flex;
  gap: 30px;
}

.advatage__item {
  max-width: 255px;
}

.advatage__item-img {
  padding-bottom: 14px;
  width: 36px;
  height: 36px;
}

.advatahe__item-title {
  font-weight: 500;
  line-height: 1.62;
  color: #091133;
  padding-bottom: 6px;
}

.advatage__item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #5d6970;
}

.advatage__img {
  padding-top: 60px;
  padding-bottom: 108px;
  max-width: 540px;
}

.product__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .product__box {
    flex-wrap: wrap;
  }
}

.product__img-one {
  padding-top: 123px;
  padding-bottom: 130px;
  padding-left: 28px;
  max-width: 480px;
}

.product__img-two {
  padding-top: 92px;
  padding-bottom: 115px;
  max-width: 540px;
}

.product__img-three {
  padding-top: 142px;
  padding-bottom: 164px;
  padding-left: 45px;
  max-width: 445px;
}

.product__body {
  max-width: 445px;
}
@media (max-width: 1020px) {
  .product__body {
    padding-left: 5px;
  }
}
.product__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  color: #091133;
  padding-bottom: 16px;
}

.product__text {
  font-weight: 400;
  line-height: 1.62;
  padding-bottom: 40px;
}

.product__btn {
  width: 150px;
  height: 32px;
}

.price {
  background-image: url("../img/price.png");
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.price__box {
  padding-top: 238px;
  padding-bottom: 172px;
  margin: 0 auto;
  max-width: 600px;
}

.price__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  color: #091133;
  text-align: center;
  padding-bottom: 16px;
}

.price__text {
  font-weight: 400;
  line-height: 1.62;
  text-align: center;
  padding-bottom: 36px;
}

.price__info {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 13px;
  max-width: 350px;
}

.price__info-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.32;
  letter-spacing: 1px;
  color: #222f65;
}

.price__info-sabtitle {
  font-weight: 400;
  line-height: 1.62;
  color: #37447e;
  padding-bottom: 60px;
}

.price__info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #5d6970;
}

.price__btn {
  margin: 0 auto;
  width: 190px;
  height: 32px;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #e7ecff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  border-bottom: 1px solid #cdd1d4;
}

.footer__inner-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #939ea4;
}

.footer__inner-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  width: 109px;
  height: 26px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

.footer__nav-link {
  color: #929ecc;
}

.footer__socials {
  display: inline-flex;
  gap: 30px;
}

.footer__socials-item {
  width: 16px;
  height: 16px;
}/*# sourceMappingURL=main.css.map */